
 .u-section-1 {
  background-image: url("images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Allerta;
  font-size: 3.75rem;
  width: 525px;
  margin: 89px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 720px;
  margin: 54px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 266px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px 9px 11px;
}

.u-section-1 .u-text-2 {
  line-height: 2.2;
  font-size: 1.25rem;
  margin: 9px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}


/*
* {
    margin: 0;
}

body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
}


.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 70px;
}

.title {
    font-family:Arial; 
    padding-top: 15px;
    position: absolute;
    left: 47%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}


button[type=submit] {
  width: 40%;
  background-color: #4dc667;
  color: white;
  padding: 15px 20px;
  margin: 8px 108px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
   
    

.main{
    margin-top:22px;
    margin-left:400px;
    margin-right:400px;
}
.main .card{
 
      max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  95px auto 0 auto;
        padding: 25px;
        color: #414141;
        padding:0px 10px 0px 20px;
    
}

.main .card table{
     border: none;
    border-radius:18px;
     height: 250px;
      margin:60px;
    
}
*/



