 .u-section-1 {
  background-image: none;
  min-height: 793px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 442px);
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 657px;
  background-image: url("../../img/logincustomerimage.jpg");
  background-position: 5.75% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 0 208px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 334px;
  margin: 47px -60px 0 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 61px 219px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 32px 219px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 771px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 334px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 267px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 161px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-shape-1 {
    height: 576px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -516px;
  }

  .u-section-1 .u-image-1 {
    min-height: 667px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-shape-1 {
    height: 321px;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -261px;
  }

  .u-section-1 .u-image-1 {
    min-height: 420px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 139px;
    margin-right: 0;
  }
}